build/
build/*

.gradle
.gradle/*
/.idea
/gradle
/*.iml

/android-annotatedsql-api/*.iml
/android-annotatedsql-processor/*.iml
/gradlew.bat
/gradlew

/test-plugin-api/*.iml

/test-plugin-processor/*.iml
